<div class="p-1 card border border-info" id="contact-card">
  <div class="card-body text-center">
    <h5 class="card-title">{{ contactInfo.name }} {{ contactInfo.lastname }}</h5>
    <hr>
    <div class="card-body">
      <div *ngFor="let contact of contactInfo.contacts | slice:0:1" class="text-muted mb-1">
        <p class="font-weight-bold m-0">{{ setContactType(contact.contactType) }}</p> 
        <p class="font-weight-light m-0">{{ contact.contact }}</p>
      </div>
    </div>
  </div>
</div>